
<div class="parallax">
  <div class="parallax-layer parallax-layer-back">
    <%= image_tag "straight_up_v1.png", width: "50%" %>
  </div>
  <div class="parallax-layer parallax-layer-base">
    <%= image_tag "straight_up_v1.png", width: "50%"%>
  </div>
</div>
