
.parallax {
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}
.parallax-layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.parallax-layer-base {
  transform: translateZ(0);
}
.parallax-layer-back {
  transform: translateZ(-1px);
}
